/*===============GRID ON INDEX FILE============*/
@media screen and (max-width: 717px){
  #maincontent {
    display: grid;
    flex-flow: column;
  }
  .filter-selections {
    display: flex;
    flex-wrap: wrap;
  }
  #restaurants-list li h1 p {
    font-size: 2em;
  }
  #restaurants-list li {
    display: flex;
    flex-flow:column;
  }
}
@media screen and (min-width: 718px) and (max-width: 1020px){
  #restaurants-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  #restaurants-list li {
    display: flex;
    flex-flow:column;
  }
}
@media screen and (min-width: 1021px){
  #restaurants-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #restaurants-list li {
    display: flex;
    flex-flow:column;
  }
/*padding around the body*/
  #maincontent {
    max-width: 1020px;
      margin-left: auto;
      margin-right: auto;
  }
}
/*========GRID / FLEXBOX ON RESTAURANT DETAILS PAGE=====*/
@media screen and (max-width: 760px){
  #maincontent2 {
    display: grid;
    flex-flow: column;
  }
  .inside #map {
    order: 1;
  }
  .inside #restaurant-container {
    order: 2;
    max-width:100%;
    padding: 140px 10px 10px; 
  }
  .inside #reviews-container {
    order: 3;
    padding: 10px 10px;
  }
}
@media screen and (min-width: 761px) and (max-width:850px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  .inside #map-container {
    order:1;

  }
  .inside #map {
    background-color: #ccc;
    height: 100%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
  }
  .inside #restaurant-container {
    max-width:45%;
    padding: 140px 20px 8px;
  }
  .inside #reviews-container {
    max-width: 50%;
    padding: 20px 8px;
  }
}
@media screen and (min-width: 851px) {
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .flex > div {
    flex: 1 0 50%;
  }
  .flex > div:first-child {
    flex: 0 1 100%;
  }
  .inside #map-container {
    max-width:100%;
    padding:40px 0px 0px;
  }
  .inside #restaurant-container {
    max-width: 100%;
  }
  .inside #reviews-container {
    max-width: 100%;
  } 
}
@media screen and (min-width: 1021px){ 
/*padding around the body*/
  #maincontent2 {
    max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
  }
}
