/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #7D1935;
  list-style: outside none none;
  margin: 0;
  /*changed padding around list*/
  padding: 30px 15px 30px;
  text-align: center;
  /*changed max width to 100%*/
  max-width: 100%;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  /* margin-top: 50px;*/
  margin: 50px 15px 10px;
  min-height: 380px;
  /*changed padding top to 10px*/
  padding: 10px 10px 10px;
  /*center text*/
  text-align: center;
  /*changed the max-width to 100%*/
  max-width: 100%;
  /*added shadow box*/
  box-shadow: 10px 10px 8px ;
  font-size:1.0em;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  /*min-height: 248px;*/
  min-width: 100%;
}
#restaurants-list li h2 {
  color: black;
  font-family: Impact,sans-serif;
  font-size: 2.0em;
  font-weight: 200;
  letter-spacing: 4px;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  background-color: white;
}
#restaurants-list p {
  margin: 0;
  font-size: 1.5rem;
}
/*hide label */
.filter-label {
  display: none;
}
#resta-pic {
  margin: 6px;
}
/*
 ====================== Restaurant Details ====================== 
*/
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: #eee none repeat scroll 0 0;
  height: 87%;
  position: relative;
  right: 0;
  top: 80px;
  max-width: 100%;
}
.inside #map {
  background-color: #ccc;
  /*changed max-width and height*/
  max-height: 100%;
  max-width: 100%;
}
.inside #footer {
  bottom: 0;
  /*position fixed but relative to the bottom*/
  position: relative;
  /*changed to max-width*/
  max-width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  /*changed res img size to 100*/
	max-width: 100%;
}
#restaurant-address {
  /*changed font-size*/
  font-size: 1.5em;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	max-width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 30px 30px;
  max-width: 100%;
  max-height: 100%;
  /*add text align to center img and content*/
  align-content: center;
  /*background: #7D1935;*/

}
#reviews-container {
  padding: 140px 40px 80px;
}
#reviews-container h3 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
  /*align-content: center;*/
}
