@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
  /*changed base font size*/
	font-size: 1.2em;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
/*================================*/
/*style button*/
button {
  background-color: black;
  color: #F5F3EE;
  padding: 20px;
  display: inline-block;
  font-size: 1.2rem;
  margin: 15px 0 0;
}
button:hover, button:focus {
  background: #E6CC22;
  color: #FFFF;
  text-decoration: underline;
  text-decoration-color: white;
}
button:focus {
  outline:0;
  box-shadow: 0 0 8px 3px 
  rgba(255,255,255, 0.8);
}
/*===============================*/
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;

}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  max-width: 100%;
}
/*added maincontent2 for res.html*/
#maincontent2 {
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;

}
#footer {
  background-color: black;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  max-width: 100%;
}
/* ====================== Navigation ====================== */
nav {
  max-width: 100%;
  /*height: 80px;*/
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    /*changed to cover viewport*/
    max-width: 100%;
}
/* Display list items side by side */
#breadcrumb li {
    display: inline;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  /*changed to max-width so it doesnt overflow the container*/
  max-width: 100%;
  /*changed height*/
  height: 100%;
  background-color: #E6CC22;
  align-items: center;
  text-align: center;
}
.filter-options h2 {
  color: white;
  /*changed the base font size*/
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 0px;
  /*aligned the text of filter button*/
  text-align: center;
  /*added padding around filter bckgcolor*/
  padding: 20px;
  background-color: black;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1.2rem;
  height: 35px;
  letter-spacing: 0;
  /*changed margin */
  margin: 20px;
  /*changed padding*/
  padding: 4px 30px 4px;
}






